{% extends 'base.html' %}
{% block app_content%}
    <div class="section" id="mod-stats">

    <form id="search" action="" method="post">
      {% csrf_token %}
      <input type="text" name="search-query" placeholder="Player name or ID">
      <input type="submit" value="Search">
    </form>

    <div class="header h2">Early Alpha: Features to Come</div>
      <div class="content">
        <ul>
          <li> Track any user (Currently tracking top 250 due to API limitations)
          <li> Sortable Best Scores
          <li> More Score Info
          <li> More Map Info
          <li> Scatter plot of all scores by mod
          <li> User accounts
            <ul>
              <li> follow players for updates
              <li> use own API key for custom update intervals
            </ul>
          <li> Daily/Weekly/Monthly PP gain leaderboards
        </ul>
      </div>

    <div class="header h2">Early Alpha: List of Avaliable Users</div>
    <div class="content">
        {% for user in users %}
        <div class="score">
            <a href="/profile/{{user.id}}/"><span style="font-size: 1.25em;">{{user.name}}</span></a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}