{% extends 'base.html' %}
{% load static js_tags humanize %}
{% block extra_head %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
<script type="text/javascript">
    function intToString(value) {
        var newValue = value;
        if (value >= 1000) {
            var suffixes = ["", "k", "m", "b","t"];
            var suffixNum = Math.floor( (""+value).length/3 );
            var shortValue = '';
            for (var precision = 2; precision >= 1; precision--) {
                shortValue = parseFloat( (suffixNum != 0 ? (value / Math.pow(1000,suffixNum) ) : value).toPrecision(precision));
                var dotLessShortValue = (shortValue + '').replace(/[^a-zA-Z 0-9]+/g,'');
                if (dotLessShortValue.length <= 2) { break; }
            }
            if (shortValue % 1 != 0)  shortNum = shortValue.toFixed(1);
            newValue = shortValue+suffixes[suffixNum];
        }
        return newValue;
    }

    function round(n, precision) {
      var prec = Math.pow(10, precision);
      return Math.round(n*prec)/prec;
    }

    function format(n) {
      var base = Math.floor(Math.log(Math.abs(n))/Math.log(1000));
      var suffix = 'kmbtqQ'[base-1];
      return suffix ? round(n/Math.pow(1000,base),2)+suffix : ''+round(n,2);
    }

    $(document).ready(function(){

      var ctx = $("#modDistribution");
      var modDistribution = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: ["No Mod", "DT", "HD", "HR"],
          datasets:[{
            data: [{{num_nomod}},{{num_dt}},{{num_hd}},{{num_hr}}],
            backgroundColor: [
              "#BCCF02", "#73c5e1", "#F6E97F", "#eb65a0"
            ]
          }]
        },
        options: {
          title: {
            display: true,
            text: 'Mod Distribution',
            fontFamily: "Open Sans",
          },
          maintainAspectRatio: false,
          legend: {
            position: 'bottom',
          }
        },
      });

      var ctx = $("#modPerformance");
      var modPerformance = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ["No Mod", "DT", "HD", "HR"],
            datasets:[{
              data: [{{performance_nomod}},{{performance_dt}},{{performance_hd}},{{performance_hr}}],
              backgroundColor: [
                "#BCCF02", "#73c5e1", "#F6E97F", "#eb65a0"
              ]
            }]
          },
          options: {
            title: {
              display: true,
              text: 'Mod Performance',
              fontFamily: "Open Sans",
            },
            maintainAspectRatio: false,
            legend: {
              display: false,
            },
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero:true,
                  callback: function(value, index, values) {
                    return format(value);
                  },
                }
              }]
            }
          },
      });

      var ctx = $("#ppTimeSeries");
      var ppTimeSeries = new Chart(ctx, {
        type: 'line',
        data: {
          datasets:[
            {
              label: "PP",
              data: [
                {% for datapoint in datapoints %}
                {
                  x: {{datapoint.time|chart_date}},
                  y: {{datapoint.pp_raw}},
                },
                {% endfor%}
              ],
              borderColor: "#73c5e1",
              backgroundColor: "#73c5e1",
              fill: false,
              yAxisID: 1,
            },
            {
              label: "Rank",
              data: [
                {% for datapoint in datapoints %}
                {
                  x: {{datapoint.time|chart_date}},
                  y: {{datapoint.pp_rank}},
                },
                {% endfor%}
              ],
              borderColor: "#eb65a0",
              backgroundColor: "#eb65a0",
              fill: false,
              yAxisID: 2,
            }
          ],
        },
        options: {
          title: {
            display: true,
            text: 'PP vs Rank',
            fontFamily: "Open Sans",
          },
          maintainAspectRatio: false,
          legend: {
            position: 'bottom',
          },
          tooltips: {
            mode: 'x',
          },
          scales: {
            xAxes: [{
              type: 'time',
              time: {
                displayFormats: {
                  quarter: 'MMM YYYY'
                },
                tooltipFormat: 'MMM DD, YYYY, HH:mm'
              }
            }],
            yAxes: [
              {
                scaleLabel: {
                  labelString: "PP",
                  display: true,
                },
                scaleType: "linear",
                id: 1,
                gridLines: {
                  display: false,
                },
                ticks: {
                  callback: function(value, index, values) {
                    return format(value);
                  },
                  // suggestedMin: 0,
                }
              },
              {
                scaleLabel: {
                  labelString: "Rank",
                  display: true,
                },
                scaleType: "linear",
                id: 2,
                gridLines: {
                  display: false,
                },
                ticks: {
                  reverse: true,
                  callback: function(value, index, values) {
                    return format(value);
                  },
                  // suggestedMin: 1,
                },
              },
            ]
          }
        },
      });

      var ctx = $("#hitCountTimeSeries");
      var hitCountTimeSeries = new Chart(ctx, {
        type: 'line',
        data: {
          datasets:[
            {
              label: "%300",
              data: [
                {% for datapoint in datapoints %}
                {
                  x: {{datapoint.time|chart_date}},
                  y: {{datapoint.percent300}},
                },
                {% endfor%}
              ],
              borderColor: "#73c5e1",
              backgroundColor: "#73c5e1",
              fill: false,
              yAxisID: 1,
            },
            {
              label: "%100",
              data: [
                {% for datapoint in datapoints %}
                {
                  x: {{datapoint.time|chart_date}},
                  y: {{datapoint.percent100}},
                },
                {% endfor%}
              ],
              borderColor: "#BCCF02",
              backgroundColor: "#BCCF02",
              fill: false,
              yAxisID: 2,
            },
            {
              label: "%50",
              data: [
                {% for datapoint in datapoints %}
                {
                  x: {{datapoint.time|chart_date}},
                  y: {{datapoint.percent50}},
                },
                {% endfor%}
              ],
              borderColor: "#F6E97F",
              backgroundColor: "#F6E97F",
              fill: false,
              yAxisID: 3,
            }
          ],
        },
        options: {
          title: {
            display: true,
            text: 'PP vs Rank',
            fontFamily: "Open Sans",
          },
          maintainAspectRatio: false,
          legend: {
            position: 'bottom',
          },
          tooltips: {
            mode: 'x',
          },
          scales: {
            xAxes: [{
              type: 'time',
              time: {
                displayFormats: {
                  quarter: 'MMM YYYY'
                },
                tooltipFormat: 'MMM DD, YYYY, HH:mm'
              }
            }],
            yAxes: [
              {
                scaleLabel: {
                  labelString: "%300",
                  display: true,
                },
                scaleType: "linear",
                id: 1,
                ticks: {
                  // suggestedMin: 0,
                },
                gridLines: {
                  display: false,
                },
              },
              {
                scaleLabel: {
                  labelString: "%100",
                  display: true,
                },
                scaleType: "linear",
                id: 2,
                ticks: {
                  // suggestedMin: 0,
                },
                gridLines: {
                  display: false,
                },
              },
              {
                scaleLabel: {
                  labelString: "%50",
                  display: true,
                },
                scaleType: "linear",
                id: 3,
                ticks: {
                  // suggestedMin: 0,
                },
                gridLines: {
                  display: false,
                },
              },
            ]
          }
        },
      });

      $(".score").click(function() {
        if($(this).next(".score-detail").is(":visible")){
          $(this).removeClass("selected")
          $(this).next("div").slideUp("fast");
        } else {
          $(".score").removeClass("selected")
          $(".score-detail").slideUp("fast");
          $(this).addClass("selected")
          $(this).next(".score-detail").slideToggle("fast");
        }
      });

      function adjustBeatmapImg(){
        if (window.innerWidth <= 720) {
          $(".score-detail").each(function(){
            imageUrl = $(this).find('img').attr("src");
            $(this).find(".beatmap-image").hide()
            $(this).css('background-image', 'url(' + imageUrl + ')');
          })
        } else {
          $(".score-detail").each(function(){
            $(this).find(".beatmap-image").show()
            $(this).css('background-image', 'none');
          })
        }
      };

      $(window).resize(function(){
        adjustBeatmapImg();
      });

      adjustBeatmapImg();

      $(".bar").each(function(){
        $(this).css('width', Math.min(parseFloat($(this).html()),10)*16);
      })
    })
</script>
{% endblock %}
{% block app_content %}
<div style='overflow:hidden'>
    <div class="profile">
        <img src="{{profile_picture}}" />
    </div>
    <div class="name">
        <div class="h1">{{user.name}}<img class="flag" src="{% static static_flag %}"></div>
        <p><strong>Rank</strong> {{current.pp_rank|intcomma}}</p>
        <p><strong>PP</strong> {{current.pp_raw|intcomma}}</p>
    </div>
</div>

<div class="section" id="basic-stats">
    <div class="header h2">Stats</div>
    <div class="content">
        <div class="c6-12">
            <div>
                <div class="half o"><strong>Ranked Score </strong></div><div class="half o">{{current.ranked_score|intcomma}}</div>
            </div>
            <div>
                <div class="half e"><strong>Total Score  </strong></div><div class="half e">{{current.total_score|intcomma}}</div>
            </div>
            <div>
                <div class="half o"><strong>Play Count   </strong></div><div class="half o">{{current.playcount|intcomma}}</div>
            </div>
            <div>
                <div class="half e"><strong>Hit Accuracy </strong></div><div class="half e">{{current.accuracy|floatformat:3}}%</div>
            </div>
            <div>
                <div class="half o"><strong>Momentum <i class="fa fa-question-circle"></i></strong></div><div class="half o">2,420</div>
            </div>

            <div>
                <div class="half e"><strong>Data Points  </strong></div><div class="half e">{{num_datapoints}}</div>
            </div>
            <div>
                <div class="half o"><strong>Date Joined  </strong></div><div class="half o">{{date_joined}}</div>
            </div>
            <div>
                <div class="half e"><strong>Last Updated </strong></div><div class="half e">{{last_updated}}</div>
            </div>

        </div>
        <div class="c6-12">
            <div class="c6-12"></div>
            <div class="c6-12"></div>
        </div>
    </div>
</div>

<div class="section" id="mod-stats">
    <div class="header h2">Mods</div>
    <div class="content">
        <div class="small-graph-container">
            <canvas id="modDistribution" height="250px" width="100%"></canvas>
        </div>
        <div class="small-graph-container">
            <canvas id="modPerformance" height="250px" width="100%"></canvas>
        </div>
    </div>
</div>

<div class="section" id="mod-stats">
    <div class="header h2">Charts</div>
    <div class="content">
        <div class="large-graph-container">
            <canvas id="ppTimeSeries" height="300px" width="100%"></canvas>
        </div>
        <div class="large-graph-container">
            <canvas id="hitCountTimeSeries" height="300px" width="100%"></canvas>
        </div>
    </div>
</div>

<div class="section" id="mod-stats">
    <div class="header h2">Scores</div>
    <div class="content">

      {% for score in scores %}
        <div class="score">
            <div class="pp">
                <strong>{{score.pp|floatformat:1}}</strong>
                <img src="{% static score.static_rank_png %}">
            </div>
            <div class="score-data">
                <div class="song-info"><a href="https://osu.ppy.sh/b/{{score.map_info.beatmap_id}}">{{score.map_info.artist}} - {{score.map_info.title}}</a></div>
                <div class="score-info">{{score.date|naturaltime}}</div>
            </div>
            <div class="mods">{{score.mods}}</div>
        </div>
        <div class="score-detail">
          <div class="layer"></div>
          <div class="beatmap-image"><img src="https://b.ppy.sh/thumb/{{score.map_info.beatmapset_id}}l.jpg"></div>
          <div class="score-stats">
            <div><div class="bar-label">Combo:</div>{{score.maxcombo}}/{{score.map_info.max_combo}}x</div>
            <div><div class="bar-label">Accuracy:</div>{{score.accuracy}}%</div>
            <div><div class="bar-label">STAR:</div><div class="bar-out"><div class="bar">{{score.map_info.difficultyrating|floatformat}}</div></div></div>
            <div><div class="bar-label">CS:</div><div class="bar-out"><div class="bar">{{score.map_info.diff_size}}</div></div></div>
            <div><div class="bar-label">OD:</div><div class="bar-out"><div class="bar">{{score.map_info.diff_overall}}</div></div></div>
            <div><div class="bar-label">AR:</div><div class="bar-out"><div class="bar">{{score.map_info.diff_approach}}</div></div></div>
            <div><div class="bar-label">HP:</div><div class="bar-out"><div class="bar">{{score.map_info.diff_drain}}</div></div></div>
          </div>
          <div class="beatmap-links">
            <a class="beatmap-link osu-direct" href="osu://dl/{{score.map_info.beatmap_id}}">osu! Direct</a>
            <a class="beatmap-link bloodcat" href="http://bloodcat.com/osu/s/{{score.map_info.beatmapset_id}}" download>Bloodcat</a>
            <a class="beatmap-link osuppysh" href="https://osu.ppy.sh/d/{{score.map_info.beatmapset_id}}" download>Download</a>

          </div>
        </div>
      {% endfor %}

    </div>
</div>
{% endblock%}